---
import Head from "@components/Head.astro"

interface Props {
    title: string
    enableMath?: boolean
}

const { title, enableMath } = Astro.props

const locale = Astro.currentLocale
---
<!DOCTYPE html>
<html lang={locale}>
    <Head title={title} enableMath={enableMath} />
    <body>
        <main class="page-content w" aria-label="Content">
            <slot />
        </main>
        {(locale === 'zh-Hans') && (
            <script src="https://unpkg.com/heti/umd/heti-addon.min.js"></script>
            <script is:inline>
            const heti = new Heti('.heti');
            heti.autoSpacing(); // 自动进行中西文混排美化和标点挤压
            </script>
        )}
    </body>
</html>