---
import Basic from "@layouts/Basic.astro"
import myImage from "@assets/images/me-apr-2025-blackburg-va.jpeg"

import { SITE_TITLE } from "@lib/constants"

---
<Basic title={SITE_TITLE}>
    <header>
        <h1 class="font-monospace">{SITE_TITLE}</h1>
    </header>
    <div style="position: relative">
        <slot />
        <div class="homepage-photo-container">
            <img
                src={myImage.src}
                alt="A photo of me taken in April 2025 in Blacksburg, Virginia"
                loading="lazy"
                decoding="async"
                style="
                width: 14rem; 
                height: auto; 
                box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
                "
            />
            <figcaption style="margin: 0.5rem 0; font-size: 14px;">2025/04 @ Blacksburg, VA</figcaption>
        </div>
    </div>
</Basic>